# Introduction to Python - Programming

## Control Flow

### Conditional statements: if, elif, else

The Python syntax for conditional execution of code uses the keywords `if`, `elif` (else if), `else`:

> ### Basic Syntax

    if (condition 1):
        action 1
    elif (condition 2):
        action 2
        ...
    elif (condition n):
        action n
        ...
    else:
        alternative
        
        
> ### Ternary if-then-else        
        
    action if condition else alternative

In [ ]:
a = 2
statement2 = False

if True:
    print("statement1 is True")
    
elif statement2:
    print("statement2 is True")
    
else:
    print("statement1 and statement2 are False")

statement1 is True

In [ ]:
if (a==3):
  print("hi")

if (a==2):
  print("bye")

bye

#### Examples:

In [ ]:
statement1 = True
statement2 = True

In [ ]:
statement1 = statement2 = True

if statement1:
    if statement2:
        print("both statement1 and statement2 are True")

both statement1 and statement2 are True

In [ ]:
# Bad indentation!
if statement1:
    if statement2:
      print("both statement1 and statement2 are True")  # this line is not properly indented

both statement1 and statement2 are True

In [ ]:
name = 'Chandra'

In [ ]:
if (name == 'Chandra'):
    print('Hi Chandra')

Hi Chandra

In [ ]:
if name != 'Alice':
    print('You are not Alice')

You are not Alice

In [ ]:
if name == 'John':
    print('How are you?')
else:
    print('Nice to meet you.')

Nice to meet you.

In [ ]:
name = 'Joe'
age = 15
lastname = 'Doe'

In [ ]:
if (name == 'John'):
    print('How are you?')
elif age < 18:
    print("You're just a teenager")
elif (lastname == 'Doe'):
    print("Never heard that name before")
else:
    print('you do not qualify')

You're just a teenager

#### Ternary if-then-else example

In [ ]:
x = 15; y = 13

1 if (x > y) else 0

1

In [ ]:
'How are you' if name == 'Joe' else 'Who are you again?'

'How are you'

In [ ]:
'hi'
'jo'

'jo'

In [ ]:
name='chandra'

In [ ]:
if name == 'John':
    print ('How are you')
else:
    print ('Who are you again?')

Who are you again?

In [ ]:
'How are you' if name=='John' else 'Who are you?'

'Who are you?'

## Loops

In Python, loops can be programmed in a number of different ways. The most common is the `for` loop, which is used together with iterable objects, such as lists. The basic syntax is:

### **`for` loops**:
> #### Generating numbers for iterating over using <br><br> `range(), arange(), linspace(), list()`

In [ ]:
# Python's builtin range function - gives only natural numbers
range(0, 10, 2)

# range() => a list

range(0, 10, 2)

In [ ]:
# arange from the numpy module - gives fractional numbers as well
import numpy as np
np.arange(0, 10, 2)

# arange() => numpy array

array([0, 2, 4, 6, 8])

In [ ]:
# find equdistant values in a given range
np.linspace(0, 1, 50).round(2)

array([0.  , 0.02, 0.04, 0.06, 0.08, 0.1 , 0.12, 0.14, 0.16, 0.18, 0.2 ,
       0.22, 0.24, 0.27, 0.29, 0.31, 0.33, 0.35, 0.37, 0.39, 0.41, 0.43,
       0.45, 0.47, 0.49, 0.51, 0.53, 0.55, 0.57, 0.59, 0.61, 0.63, 0.65,
       0.67, 0.69, 0.71, 0.73, 0.76, 0.78, 0.8 , 0.82, 0.84, 0.86, 0.88,
       0.9 , 0.92, 0.94, 0.96, 0.98, 1.  ])

In [ ]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

### lists are iterables

In [ ]:
for x in [1,2,3]:
    print(x)

1
2
3

The `for` loop iterates over the elements of the supplied list, and executes the containing block once for each element. Any kind of list can be used in the `for` loop. For example:

In [ ]:
for x in range(4): # by default range start at 0
    print(x)

0
1
2
3

Note: `range(4)` does not include 4 !

In [ ]:
for x in range(-3,3):
    print(x)

-3
-2
-1
0
1
2

In [ ]:
for word in ["scientific", "computing", "with", "python"]:
    print(word)

scientific
computing
with
python

To iterate over key-value pairs of a dictionary:

In [ ]:
for key, value in params.items():
    print(key + " = " + str(value))

NameError: ignored

Sometimes it is useful to have access to the indices of the values when iterating over a list. We can use the `enumerate` function for this:

In [ ]:
for idx, x in enumerate(range(-3,3)):
    print(x, x**2)

-3 9
-2 4
-1 1
0 0
1 1
2 4

In [ ]:
for i in range(6):
    print ('*' * i)

for i in range(5, 0, -1):
    print ('*' * i)

*
**
***
****
*****
*****
****
***
**
*

### List comprehensions: Creating lists using `for` loops:

A convenient and compact way to initialize lists:

In [ ]:
y=range(0,5)
print(y)

range(0, 5)

In [ ]:
l1 = [x**3 for x in range(0,5)]

print(l1)

[0, 1, 8, 27, 64]

### `while` loops:

In [ ]:
i = 0

while i < 5:
    print(i)
    
    i = i + 1
    
print("done")

0
1
2
3
4
done

Note that the `print("done")` statement is not part of the `while` loop body because of the difference in indentation.

---
### Searching for an object belonging to a collection is faster for sets and dicts than lists

In [ ]:
odd = [i**3 for i in range(1,100) if(i%2!=0)]
print (odd)

[1, 27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859, 9261, 12167, 15625, 19683, 24389, 29791, 35937, 42875, 50653, 59319, 68921, 79507, 91125, 103823, 117649, 132651, 148877, 166375, 185193, 205379, 226981, 250047, 274625, 300763, 328509, 357911, 389017, 421875, 456533, 493039, 531441, 571787, 614125, 658503, 704969, 753571, 804357, 857375, 912673, 970299]

In [ ]:
set_1 = {1, 2, 3, 1, 2, 5, 6, 7}; set_1

In [ ]:
%%timeit 
5 in set_1

In [ ]:
list_1 = [1,2,3,4,510,20,5,30,4,5,3,20]

In [ ]:
%%timeit
5 in list_1

In [ ]:
dict_1 = {k:v for k, v in zip(range(1, 8), list('abcdefg'))}
dict_1

In [ ]:
%%timeit
5 in dict_1

In [ ]:
list_1 = range(10000)
set_1 = set(list_1)

In [ ]:
%timeit 1123 in list_1

In [ ]:
%timeit 1123 in set_1

## Functions

A function in Python is defined using the keyword `def`, followed by a function name, a signature within parentheses `()`, and a colon `:`. The following code, with one additional level of indentation, is the function body.

Every function does 3 things:
1. Take an argument
2. Flow it through the body of the function
3. Return an object

Syntax

Function Definition:

```
def func-name(parameters):
    body-function
    return something
```

Function Call:


`func-name(arguments)`

In [ ]:
def udf1(a):
    v=a**2+2*a+10
    return v

In [ ]:
udf1(3)

25

In [ ]:
def func0():   
    print("test")

In [ ]:
func0()

test

Optionally, but highly recommended, we can define a so called "docstring", which is a description of the functions purpose and behaivor. The docstring should follow directly after the function definition, before the code in the function body.

In [ ]:
def func1(s):
    """
    Print a string 's' and tell how many characters it has    
    """
    # hello
    print(s + " has " + str(len(s)) + " characters")

In [ ]:
help(func1)

Help on function func1 in module __main__:

func1(s)
    Print a string 's' and tell how many characters it has

In [ ]:
func1("test")

test has 4 characters

Functions that returns a value use the `return` keyword:

In [ ]:
def square(x):
    """
    Return the cube of x.
    """
    return x ** 3

In [ ]:
square(4)

64

We can return multiple values from a function using tuples (see above):

In [ ]:
def powers(x):
    """
    Return a few powers of x.
    """
    return x ** 2, x ** 3, x ** 4

In [ ]:
powers(3)

(9, 27, 81)

In [ ]:
x2, x3, x4 = powers(3)

print(x3)

27

### Default argument and keyword arguments

In a definition of a function, we can give default values to the arguments the function takes:

In [ ]:
def myfunc(x, p=2, debug=False):
    if debug:
        print("evaluating myfunc for x = " + str(x) + " using exponent p = " + str(p))
    return x**p

If we don't provide a value of the `debug` argument when calling the the function `myfunc` it defaults to the value provided in the function definition:

In [ ]:
myfunc(5)

In [ ]:
myfunc(5, debug=True)

If we explicitly list the name of the arguments in the function calls, they do not need to come in the same order as in the function definition. This is called *keyword* arguments, and is often very useful in functions that takes a lot of optional arguments.

In [ ]:
myfunc(p=3, debug=True, x=7)

#### Functions are Objects

In [ ]:
def add_one(num):
    return num + 1

print (add_one(99))


def add_two(n):
    return n+2

print (add_two(998))

In [ ]:
list_of_funcs = [add_one, add_two]

print (list_of_funcs[0](49))
print (list_of_funcs[1](48))

### Unnamed functions (lambda function)

In Python we can also create unnamed functions, using the `lambda` keyword:

- do not have a name
- are temporary in nature and intent
- use & throw

In [ ]:
def squarer(x):
    """
    This function takes a number and returns its square
    """
    return x**2

In [ ]:
squarer(10)

In [ ]:
squarer?

In [ ]:
f1 = lambda x: x**2
    
# is equivalent to 

def f2(x):
    return x**2

In [ ]:
f1(2), f2(2)