# Introduction to Python - Programming

### List

Lists are very similar to strings, except that each element can be of any type.

The syntax for creating lists in Python is `[...]`:

"A list is an **ordered**, indexable collection of data."

- created using the square brackets `[]`
- created using functions like `range, xrange, arange, linspace, list`
- Lists methods
    - `.append, .remove, .pop, .reverse, .sort`
- Subsetting lists using integer indexes (and slices)
- Lists are **mutable** ie, they can be modified once declared.
- Finding things inside lists - using `in` and `.index()`
- Lists as iterators

In [ ]:
l = [1,2,3,4]

print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 4]

We can use the same slicing techniques to manipulate lists as we could use on strings:

In [ ]:
print(l)

print(l[1:3])

print(l[::2])

[1, 2, 3, 4]
[2, 3]
[1, 3]

In [ ]:
l[3]

4

Elements in a list do not all have to be of the same type:

In [ ]:
l = [1, 'a', 1.0, 1-1j]

print(l)

[1, 'a', 1.0, (1-1j)]

Python lists can be inhomogeneous and arbitrarily nested:

In [ ]:
nested_list = [1, [2, [3, [4, [5]]]]]

nested_list

[1, [2, [3, [4, [5]]]]]

In [ ]:
print(nested_list)

[1, [2, [3, [4, [5]]]]]

In [ ]:
nested_list[1][1][0]

3

Lists play a very important role in Python. For example they are used in loops and other flow control structures (discussed below). There are a number of convenient functions for generating lists of various types, for example the `range` function:

In [ ]:
start = 10
stop = 30
step = 2

k=range(start, stop, step)
type(k)

range

In [ ]:
# in python3 range generates an interator, which can be converted to a list using 'list(...)'.
# It has no effect in python 2
list(range(start, stop, step))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
list(range(10, -10, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [ ]:
s="hello"
s

'hello'

In [ ]:
# convert a string to a list by type casting:
s2 = list(s)

s2

['h', 'e', 'l', 'l', 'o']

In [ ]:
# sorting lists
s2.sort()

print(s2)

['e', 'h', 'l', 'l', 'o']

#### Adding, inserting, modifying, and removing elements from lists

In [ ]:
# create a new empty list
l = []

# add an elements using `append`
l.append("A")
l.append("d")
l.append("d")

print(l)

['A', 'd', 'd']

We can modify lists by assigning new values to elements in the list. In technical jargon, lists are *mutable*.

In [ ]:
l[1] = "p"
l[2] = "p"

print(l)

['A', 'p', 'p']

In [ ]:
l[1:3] = ["d"]

print(l)
# to be discussed

['A', 'd']

Insert an element at a specific index using `insert`

In [ ]:
l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")
l.insert(9, "t")

print(l)

['i', 'n', 's', 'e', 'r', 't', 'A', 'd', 'd', 't']

Remove first element with specific value using 'remove'

In [ ]:
l.remove("A")

print(l)

['i', 'n', 's', 'e', 'r', 't', 'd', 'd']

Remove an element at a specific location using `del`:

In [ ]:
del l[7]
del l[6]

print(l)

['i', 'n', 's', 'e', 'r', 't']

See `help(list)` for more details, or read the online documentation

### Tuples

Tuples are like lists, except that they cannot be modified once created, that is they are *immutable*. 

In Python, tuples are created using the syntax `(..., ..., ...)`, or even `..., ...`:

In [ ]:
point = (10, 20)

print(point, type(point))

(10, 20) <class 'tuple'>

In [ ]:
point = 10, 20, 30

print(point, type(point))

(10, 20, 30) <class 'tuple'>

We can unpack a tuple by assigning it to a comma-separated list of variables:

In [ ]:
x, y, z = point

print("x =", x)
print("y =", y)
print("z =", z)
print(point)

x = 10
y = 20
z = 30
(10, 20, 30)

If we try to assign a new value to an element in a tuple we get an error:

In [ ]:
point[0] = 20

TypeError: ignored

### Dictionaries

Dictionaries are also like lists, except that each element is a key-value pair. The syntax for dictionaries is `{key1 : value1, ...}`:

---
- **unordered**
- declared using the curly braces `{ }`
- Data exists in the form of `key-value` pairs

In [ ]:
details = {
"university" : "DTU",
"program" : "Machine Learning with Python",
 "module" : 1,
"tags" : ["#machine", "#learning", "#datascience", "#python", "#analysis"]
}

In [ ]:
details

{'module': 1,
 'program': 'Machine Learning with Python',
 'tags': ['#machine', '#learning', '#datascience', '#python', '#analysis'],
 'university': 'DTU'}

In [ ]:
details.keys()

dict_keys(['university', 'program', 'module', 'tags'])

In [ ]:
details.values()

dict_values(['DTU', 'Machine Learning with Python', 1, ['#machine', '#learning', '#datascience', '#python', '#analysis']])

In [ ]:
details.items()

dict_items([('university', 'DTU'), ('program', 'Machine Learning with Python'), ('module', 1), ('tags', ['#machine', '#learning', '#datascience', '#python', '#analysis'])])

In [ ]:
# Adding k-v pairs to an empty dictionary
details['trainer'] = ['IIT', "IIM", "JNU","Industry"]
details['coverage']= ['BA','Stat','ML','Python']

In [ ]:
details

{'coverage': ['BA', 'Stat', 'ML', 'Python'],
 'module': 1,
 'program': 'Machine Learning with Python',
 'tags': ['#machine', '#learning', '#datascience', '#python', '#analysis'],
 'trainer': ['IIT', 'IIM', 'JNU', 'Industry'],
 'university': 'DTU'}

In [ ]:
del details['tags']

In [ ]:
details.keys()

dict_keys(['university', 'program', 'module', 'trainer', 'coverage'])

In [ ]:
details.pop('coverge',2)

2

In [ ]:
details.pop('coverage')

['BA', 'Stat', 'ML', 'Python']

In [ ]:
details.keys()

dict_keys(['university', 'program', 'module', 'trainer'])

In [ ]:
d={}

In [ ]:
d

{}

In [ ]:
type(d)

dict

In [ ]:
d["Name"]="Alabs"; d["Location"]="Ggn"

In [ ]:
d

{'Location': 'Ggn', 'Name': 'Alabs'}

In [ ]:
d['Name']

'Alabs'

In [ ]:
params = {"parameter1" : 1.0,
          "parameter2" : 2.0,
          "parameter3" : 3.0,}

print(type(params))
print(params)

<class 'dict'>
{'parameter1': 1.0, 'parameter2': 2.0, 'parameter3': 3.0}

In [ ]:
print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))

parameter1 = 1.0
parameter2 = 2.0
parameter3 = 3.0

In [ ]:
params["parameter1"] = "A"
params["parameter2"] = "B"

# add a new entry
params["parameter4"] = "D"

print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))
print("parameter4 = " + str(params["parameter4"]))

parameter1 = A
parameter2 = B
parameter3 = 3.0
parameter4 = D

In [ ]:
#Sets
s1=set([1,2,2,3,4,4,4,4,5,5,5])

In [ ]:
s1

{1, 2, 3, 4, 5}

In [ ]:
s1.add(10)

In [ ]:
s1.add('abc')

In [ ]:
s1

{1, 10, 2, 3, 4, 5, 'a', 'abc'}

In [ ]:
s1.union([1,10,20])

{1, 2, 3, 4, 5, 10, 20}

In [ ]:
s1.intersection([1,2,4,20,30,40])

{1, 2, 4}

In [ ]:
s2=set([1,20,20,30,40])

In [ ]:
print (s1); print (s2)

{1, 2, 3, 4, 5, 10}
{40, 1, 20, 30}

In [ ]:
s1.union(s2)

{1, 2, 3, 4, 5, 10, 20, 30, 40}

## Control Flow

### Conditional statements: if, elif, else

The Python syntax for conditional execution of code uses the keywords `if`, `elif` (else if), `else`:

> ### Basic Syntax

    if (condition 1):
        action 1
    elif (condition 2):
        action 2
        ...
    elif (condition n):
        action n
        ...
    else:
        alternative
        
        
> ### Ternary if-then-else        
        
    action if condition else alternative

In [ ]:
statement1 = False
statement2 = False

if statement1:
    print("statement1 is True")
    
elif statement2:
    print("statement2 is True")
    
else:
    print("statement1 and statement2 are False")

statement1 and statement2 are False